<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.qiyu.mywebsite.dao.UserInfoMapper">
    <resultMap id="BaseResultMap" type="com.qiyu.mywebsite.po.UserInfoPo">
        <id column="id" property="id" jdbcType="INTEGER"/>
        <id column="nick_name" property="nickName" jdbcType="VARCHAR"/>
        <id column="password" property="password" jdbcType="VARCHAR"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,nick_name,password
    </sql>

    <select id="selectById" resultMap="BaseResultMap" parameterType="java.lang.Integer">
        select
        <include refid="Base_Column_List"/>
        from user_info
        where id = #{id}
        and del_flag = 0
    </select>

    <select id="selectOnCondition" resultMap="BaseResultMap" parameterType="com.qiyu.mywebsite.vo.UserInfoVo">
        select
        <include refid="Base_Column_List"/>
        from user_info
        where 1=1
        <if test="id!=null and id != 0">
            and id=#{id}
        </if>
        <if test="nickName!=null">
            and nick_name=#{nickName}
        </if>
        and del_flag = 0
    </select>

    <insert id="insertOnCondition" parameterType="com.qiyu.mywebsite.vo.UserInfoVo">
        <selectKey resultType="java.lang.Integer" keyProperty="id" order="AFTER" >
            SELECT LAST_INSERT_ID()
        </selectKey>
        INSERT IN user_info
        <trim prefix="(" suffix=")" suffixOverrides="," >
            <if test="nickName != null" >
                user_id,
            </if>
            <if test="password != null" >
                user_name,
            </if>
            <if test="delFlag != null" >
                del_flag,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides="," >
            <if test="userId != null" >
                #{userId,jdbcType=INTEGER},
            </if>
            <if test="userName != null" >
                #{userName,jdbcType=VARCHAR},
            </if>
            <if test="addUid != null" >
                #{addUid,jdbcType=INTEGER},
            </if>
            <if test="addTime != null" >
                #{addTime,jdbcType=TIMESTAMP},
            </if>
            <if test="updateUid != null" >
                #{updateUid,jdbcType=INTEGER},
            </if>
            <if test="updateTime != null" >
                #{updateTime,jdbcType=TIMESTAMP},
            </if>
            <if test="remark != null" >
                #{remark,jdbcType=VARCHAR},
            </if>
            <if test="delFlag != null" >
                #{delFlag,jdbcType=TINYINT},
            </if>
        </trim>
    </insert>


</mapper>